<!-- Always shows a header, even in smaller screens. -->
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header" *ngIf="isLoggedIn" >
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Hero Board</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/profile">Profile</a>
          <a class="mdl-navigation__link" routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
          <a class="mdl-navigation__link" routerLink="/heroes" routerLinkActive="active">Heroes</a>
        </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">User</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Profile</a>
      <a class="mdl-navigation__link" href="">Settings</a>
      <a class="mdl-navigation__link" (click)='logout()' href="">Log Out</a>
    </nav>
  </div>

</div>

